.posts-list--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.posts-list--child {
  width: 100%;
}

.bottom-elemnt {
  /* margin-top: 48px; */
}
